<div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="">
                            
                                <div class=" center-margin text-center col-lg-6 col-md-6 alert alert-success alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                                    </button>
                                    <strong>Vous êtes connecté !</strong> 
                                </div>
                                
                                
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="bs-example" data-example-id="simple-jumbotron">
                                    <div class="jumbotron">
                                        <h1>Bienvenue</h1>
                                        <p>Notre application est conçu pour gerer une base de donnée appelé formation.<br/>
                                        Etant Administrateur vous avez tous les droits d'ajouter,de modifier et de supprimer le contenu de la base de donnée</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>